body {
  background-color: #fefdfe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

ul, .header-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 70%; /* Full høyde */
  position: fixed; /* Får navbar til å være fast (ved scrolling) */
  overflow: auto; /* Scrolling hvis det er mye innhold */
}


li {
  float: left;
}

nav a:hover {
  color:rgb(244,213,180);
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 25px;
  margin: 15px;
  text-decoration: none;
  letter-spacing: 2px;
}

.center{
  flex-direction: row-reverse;
  flex-basis: auto;
  justify-content: center;
  min-width: 20em;
  padding: 1em;
  margin: 5px 8em 2em 22em;
  text-align: center;
  border-radius:20px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.flexbox{
  flex-direction: row-reverse;
  flex-basis: auto;
  justify-content: center;
  min-width: 20em;
  padding: 1em;
  margin: 5px 8em 2em 22em;
  text-align: center;
  border-radius:20px;
  border-style: solid;
  border-color: rgb(244,213,180);
}

.flexbox-center {
  flex-direction: row-reverse;
  flex-basis: auto;
  justify-content: center;
  min-width: 20px;
  padding: 1em;
  margin: 0px 8em 2em 22em;
  text-align: center;
  border-style: none;
}

.header-content img{
  height: 90px;
  padding: 10px ;
}

h1{ 
  text-align:center;
  font-size: 5em;
  padding: 40px 40px 15px 40px;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
  margin-left: 2em;
}

.hudpleie-bilde img{
  height:20em;
  width: 30px;
  padding: 10px;
}

h2 { 
  padding: 5px 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  font-weight: bold;
}


h3 {
  padding: 15px 0 15px 0;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: underline;
  min-width: 200px;
}

p {
padding: 20px 100px;
text-align: center;
line-height: 2;
color: rgb(0, 0, 0);
font-size: 20px;
}

.flexbox a{
  padding: 20px ;
  text-align: center;
  line-height: 2;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.flexbox a:hover{
color:rgb(244,213,180);
}

.flexbox a:active{
  color:rgb(62, 37, 229);
}

footer{
  text-align: center;
}

h2, h3, p, .flexbox a{
  min-width: 200px;
}


