body {
  background-color: #fefdfe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

ul, .header-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 70%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}


li {
  float: left;
}

nav a:hover {
  color:rgb(236, 47, 195);
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 25px;
  margin: 15px;
  text-decoration: none;
  letter-spacing: 2px;
}


.flexbox{
  flex-direction: row-reverse;
  flex-basis: auto;
  justify-content: center;
  min-width: 20em;
  padding: 1em;
  margin: 5px 8em 2em 22em;
  text-align: center;
  border-radius:20px;
  border-style: solid;
  border-color: rgb(244,213,180);
}

.bilde img{
  height: 400px;
  padding: 10px ;
  border-width: 0;
}

.header-content img{
  height: 90px;
  padding: 10px ;
}

h1{ 
  text-align:center;
  font-size: 3em;
  padding: 50px 50px 25px 50px;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
  margin-left: 5em;
}

.hudpleie-bilde img{
  margin: 2px 0px 0px 22em;
  height:200px;
  width: 400px;
  padding: 15px;
}

h2 { 
  padding: 5px 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  font-weight: bold;
}


h3 {
  padding: 15px 0 15px 0;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: underline;
  min-width: 200px;
}

p, .flexbox a{
padding: 20px 100px;
text-align: center;
line-height: 2;
color: rgb(0, 0, 0);
}

.flexbox a:hover{
color:rgb(244,213,180);
}

.flexbox a:active{
  color:rgb(62, 37, 229);
}

footer{
  text-align: center;
}

h2, h3, p, .flexbox a{
  min-width: 50%;
}


