:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto; 
    background-color:aliceblue;
}

/* Centering container */
.container {
    width: 80%;
    margin: 0 auto;
}


/* Styles for the navigation bar */
header {
    background: #FFD500;
}

.header-content{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: bold;
    overflow: auto;
}


.logo{
    float: left;
    display: flex;
    height: 100px;
    padding: 10px 0;   
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 50px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #fafafa;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color:#000;
    position: absolute;
    top: 25px;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}

.h1 {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}